src/wsdl/bdyu.me_8080/PublicationsWS-1.0/PubWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicationsws.sopacommunication.bdyu.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicationsws.sopacommunication.bdyu.com/" name="PubWS">
<types>
<xsd:schema>
<xsd:import namespace="http://publicationsws.sopacommunication.bdyu.com/" schemaLocation="http://bdyu.me:8080/PublicationsWS-1.0/PubWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getPublicationsCountFromTitle">
<part name="parameters" element="tns:getPublicationsCountFromTitle"/>
</message>
<message name="getPublicationsCountFromTitleResponse">
<part name="parameters" element="tns:getPublicationsCountFromTitleResponse"/>
</message>
<message name="getPublicationsFromTitle">
<part name="parameters" element="tns:getPublicationsFromTitle"/>
</message>
<message name="getPublicationsFromTitleResponse">
<part name="parameters" element="tns:getPublicationsFromTitleResponse"/>
</message>
<message name="getAuthorByID">
<part name="parameters" element="tns:getAuthorByID"/>
</message>
<message name="getAuthorByIDResponse">
<part name="parameters" element="tns:getAuthorByIDResponse"/>
</message>
<message name="getPublicationsStringFromTitle">
<part name="parameters" element="tns:getPublicationsStringFromTitle"/>
</message>
<message name="getPublicationsStringFromTitleResponse">
<part name="parameters" element="tns:getPublicationsStringFromTitleResponse"/>
</message>
<portType name="PubWS">
<operation name="getPublicationsCountFromTitle">
<input wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getPublicationsCountFromTitleRequest" message="tns:getPublicationsCountFromTitle"/>
<output wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getPublicationsCountFromTitleResponse" message="tns:getPublicationsCountFromTitleResponse"/>
</operation>
<operation name="getPublicationsFromTitle">
<input wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getPublicationsFromTitleRequest" message="tns:getPublicationsFromTitle"/>
<output wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getPublicationsFromTitleResponse" message="tns:getPublicationsFromTitleResponse"/>
</operation>
<operation name="getAuthorByID">
<input wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getAuthorByIDRequest" message="tns:getAuthorByID"/>
<output wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getAuthorByIDResponse" message="tns:getAuthorByIDResponse"/>
</operation>
<operation name="getPublicationsStringFromTitle">
<input wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getPublicationsStringFromTitleRequest" message="tns:getPublicationsStringFromTitle"/>
<output wsam:Action="http://publicationsws.sopacommunication.bdyu.com/PubWS/getPublicationsStringFromTitleResponse" message="tns:getPublicationsStringFromTitleResponse"/>
</operation>
</portType>
<binding name="PubWSPortBinding" type="tns:PubWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPublicationsCountFromTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPublicationsFromTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAuthorByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPublicationsStringFromTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PubWS">
<port name="PubWSPort" binding="tns:PubWSPortBinding">
<soap:address location="http://bdyu.me:8080/PublicationsWS-1.0/PubWS"/>
</port>
</service>
</definitions>